.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px auto 100px;
  padding: 15px;
  max-width: 1600px;
  height: 60px;
  background-color: rgb(82, 161, 82);
  border-radius: 35px;
}