* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  padding: 0 15px;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.cart-btn {
  position: relative;
  height: 30px;

  &__counter {
    position: absolute;
    top: 15px;
    right: -4px;
    padding: 1px 4px;
    max-width: 18px;
    min-width: 15px;
    height: 15px;
    background-color: #FFFFFF;
    font-size: 10px;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    border-radius: 50%;
  }
}

.wrapper {
  display: flex;
  gap: 40px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}